@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    background-color: rgba(49, 40, 35, 1);
}
img {
    width: 25px;
    height: 25px;
} 
/* .linkedin {
    width: 28px;
    height: 28px;
} */
.social-media {
    padding-left: 15px;
}
.credits {
    padding-top: 5px;
}
body {
    background-image: url("../img/PortfolioBackground.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* height: */
}
.content {
    flex: 1 0 auto;
    height: auto;
}
.main {
    padding-right: 35%;
    text-align: right;
    color: white;
    /* margin-bottom: 400px; */
}
a {
    color: white;
    transition: .3s;
    /* text-decoration: none; */
}
a:hover {
    color: rgb(200,164,159);
    cursor: pointer;
}
.first-h3 {
    padding-top: 150px;
    margin: 0;
    /* margin-right: 244px; */
}
h1 {
    font-size: 3em;
}
.links {
    padding-bottom: 400px;
}
.links>a {
    display: block;
    text-decoration: underline;
    /* width: 200px;
    margin-left: 76%; */
    margin-top: 20px;
    font-size: 1.3em;
    transition: .3s;
}
.footer {
    /* position: absolute; */
    display: flex;
    padding: 20px;
    flex-shrink: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3F3F3F;
    color: white;
    justify-content: space-between;
}
.projectsContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.projectsContainer img {
    height: 275px;
    width: 450px;
    margin: 15px 15px 0 15px;
    transition: .3s;
    border-radius: 2px;
    border: 6px solid transparent;
}
.projectsContainer img:hover {
    cursor: pointer;
    border: 6px solid rgb(200,164,159);
}
.my-work {
    padding-top: 100px;
    margin-top: 0;
    text-align: center;
    color: white;
    font-size: 2em;
}
.nav-bar {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.nav-bar a {
    transition: .3s;
    text-decoration: underline;
}
.aboutMeContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 25px 100px;
}
.aboutMeParagraph {
    width: 60%;
    padding-top: 100px;
}
.aboutMeContainer img {
    width: 450px;
    margin: 0 auto;
    height: 600px;
}
.aboutMeParagraph h2 {
    font-size: 2em;
}
.aboutMeParagraph p {
    font-size: 1.2em;
}
.height100 {
    height: 100px;
    width: 100%;
}
.topRow p, .bottomRow p {
    width: 420px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    margin: 0 auto;
    height: 75px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    html {
        height: 100%;
    }
    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content {
        flex: 1 0 auto;
    }
    .footer {
        flex-shrink: 0;
        /* position: relative; */
    }
    .main {
        padding-right: 20%;
    }
    .projectsContainer {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }
    .projectsContainer p {
        display: block;
        align-self: center;
        margin: 0 auto;
    }
    .projectsContainer img{
        display: block;
        margin: 25px auto 0 auto;
    }
    .aboutMeContainer {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 25px 100px;
        min-height: 675px;
    }
    .aboutMeParagraph {
        width: 90%;
        text-align: center;
        padding-top: 2%;
    }
    .aboutMeContainer img {
        height: 175px;
        width: 175px;
        border: 2px solid black;
        border-radius: 500px;
        content:url('../img/aboutMeMobile.png');
    }
    .nav-bar {
        padding-bottom: 25px;
    }
    .height100 {
        height: 0px;
    }
}

@media (max-width: 400px) {
    .first-h3 {
        padding-top: 50px;
    }
    .main {
        padding-right: 10%;
    }
    .links {
        padding-bottom: 215px;
        justify-content: space-around;
        text-align: right;
    }
    .projectsContainer img{
        display: block;
        width: 95%;
        height: auto;
        margin: 25px auto 0 auto;
    }
    .projectsContainer p {
        display: block;
        align-self: center;
        width: 85%;
        height: auto;
        margin: 0 auto;
    }
    .aboutMeContainer {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 25px 50px;
        min-height: 675px;
    }
    .aboutMeContainer p {
        text-align: left;
    }
}
