<div class="height100"></div>
<div class="aboutMeContainer">
    <div class="aboutMeParagraph">
        <h2>About</h2>
        <p>Hey there, I'm Kyle. I am a full-stack web developer who has always loved problem solving, puzzle games, and had a passion for learning how everything works. I have always been drawn to technology and realized I could take my passion and channel it into creating Apps that provide solutions to real-world problems.</p>
        <p>Throughout my background in Biology and Property Management, I learned the importance of being adaptable and thinking three steps ahead to avoid future complications. My committment to the task at hand, ability to learn quickly, and drive to improve myself will make me a perfect addition to any development team.</p>
    </div>
    <img src="img/aboutme.png" alt="Kyle Meserve">
</div>
<div class="nav-bar">
    <a ng-click="ctrl.changePage('home')">Home</a>
    <a ng-click="ctrl.changePage('projects')">My Work</a>
    <a ng-click="ctrl.changePage('aboutme')">About</a>
    <a href="mailto:meserve.kyle@gmail.com?Subject=Resume%20Request">Request my Resume</a>
</div>
<div ng-include="ctrl.footerPartial"></div>
