<div class="content projectsClass">
    <h3 class="my-work">My Work</h3>

    <div class="projectsContainer">
        <div class="topRow">
            <div class="projectOne">
                <a href="https://krmeserve.github.io/fists_of_fire/"><img src="img/project1.png" alt="Fists of Fire"></a>
                <p>Web-based brawler played on the DOM. Based on Tekken with turn-based combat. Created from scratch using HTML, CSS, JavaScript and jQuery.</p>
            </div>
            <div class="projectTwo">
                <a href="https://parks-of-athens.herokuapp.com/"><img src="img/project2.png" alt="Parks of Athens"></a>
                <p>Express web app designed so users can leave reviews and ratings of the parks near Athens, GA. Built from scratch using Mongoose, Express, EJS, Node, and CSS. Hosted on Heroku.</p>
            </div>
        </div>
        <div class="bottomRow">
            <div class="projectThree">
                <a href="https://circuit-connection.herokuapp.com/"><img src="img/project3.png" alt="Circuit Connection"></a>
                <p>AngularJS app designed to be a social media site for web developers to use and connect. AngularJS, Express, Mongoose, Node, CSS, and OAuth were used in this project. Hosted on Heroku.</p>
            </div>
            <div class="projectFour">
                <a href="https://amarillosky.com"><img src="img/project4.png" alt="Amarillo Sky"></a>
                <p>A React app completed for a client to help promote and sell the band. Displays their upcoming events and makes contacting them easy. Built with React, Ruby on Rails, and PostgreSQL.</p>
            </div>
        </div>
    </div>
    <div class="nav-bar">
        <a ng-click="ctrl.changePage('home')">Home</a>
        <a ng-click="ctrl.changePage('projects')">My Work</a>
        <a ng-click="ctrl.changePage('aboutme')">About</a>
        <a href="https://kylemeserve.com/resume/K_Meserve_Resume.pdf">View my Resume</a>
    </div>
</div>
<div ng-include="ctrl.footerPartial"></div>
