body {
    background-color: yellow;
}

.random-picture {
    max-height: 500px;
    display: inline-block;
    margin: 0 auto;
}
.picture-container {
    margin: 20px auto;
    text-align: center;
}
.facebook-feed, .pinterest-feed {
    margin: 0 auto;
}
.facebook-feed img, .pinterest-feed img {
    width: 200px;
}
.social-media {
    display: flex;
    justify-content: space-around;
}
