body {
    background-image: url('img/background2.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
}
h1 {
    font-size: 4em;
}

.random-picture {
    max-height: 500px;
    display: inline-block;
    margin: 0 auto;
}
.picture-container {
    margin: 20px auto;
    text-align: center;
}
/* .facebook-feed, .pinterest-feed {
    margin: 0 auto;
} */
.facebook-feed img, .pinterest-feed img {
    width: 150px;
    transition: .2s;
}
.facebook-feed img:hover, .pinterest-feed img:hover {
    opacity: .7;
}
.social-media {
    display: flex;
    justify-content: space-between;
}
.greeting {
    text-align: center;
}
.header {
    text-align: center;
    width: 75%;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    color: rgb(12,85,126);
    margin-bottom: 150px;
}
.author {
    font-style: italic;
}
