html{
    background-color: black;
    color: orange;
    text-align: center;
}
.start-fight {
    background-color: yellow;
    width: 100px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    cursor: pointer;
}
#fightAlertBox {
    font-size: 3em;
    text-align: center;
    width: 40%;
    height: 50px;
    margin: 0 auto;
}
#modalOne, #modalTwo {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
}
#modalPlayerOne {
    width: 30%;
    background-color: rgba(255,255,255,0.9);
    margin: 10% 10%;
    padding: 15px;
    border-radius: 10px;
    color: black;
}
#modalPlayerTwo {
    width: 30%;
    background-color: rgba(255,255,255,0.9);
    margin: 10% 50%;
    padding: 15px;
    border-radius: 10px;
    color: black;
}
.red {
    color: red;
}
#pickCharacters {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
}
#playerOneCharacter, #playerTwoCharacter {
    width: 70%;
    background-color: white;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}
#playerOneCharacter .heading, #playerTwoCharacter .heading {
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
}
#playerOneCharacter img, #playerTwoCharacter img {
    width: 20%;
    height: 70%;
    border: 1px solid grey;
    border-radius: 35px;
    padding: 1.9%;
    transition: .2s;
    align-items: center;
}
#playerOneCharacter img:hover, #playerTwoCharacter img:hover {
    border: 1px solid orange;
}
.playerHealthContainer {
    display: flex;
    justify-content: space-between;
}
.playerHealthContainer progress {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 300px;
    border-radius: 3px;
}
progress::-moz-progress-value {
     background: #27ba3f;
     border-radius: 3px;
}
progress::-moz-progress-bar {
     background: #b71d0e;
     border-radius: 3px;
}
progress::-webkit-progress-value {
     background: #27ba3f;
     border-radius: 3px;
}
progress::-webkit-progress-bar {
    background: #b71d0e;
    border-radius: 3px;
}
.playerCharacterContainer {
    height: 70%;
    margin: 0;
    max-height: 500px;
}
.playField {
    background-image: url('https://static.giantbomb.com/uploads/original/11/118253/1685434-kahnsarena.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    margin: 0;
}
.playerOne {
    width: 20%;
    min-width: 150px;
    max-width: 350px;
}
.playerTwo {
    width: 20%;
    margin-left: 40%;
    min-width: 150px;
}
.playerNames {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 30px;
    font-size: 1.3em;
}
#playerOneName, #playerTwoName {
    background-color: rgba(255, 255, 255, 0.8);
    height: 27px;
    width: 12%;
    color: #c46907;
}
